{% extends "layout.html" %}
{% block content %}

    <script type=text/javascript>

        var selected_peer;
        var known_peers = [];
        var file_count;
        var show_file_notification = false;
        var last_messages;

        function submitMessage() {
            var serval_id = $('#serval_id').html();
            var message = $('#inp_message');
            var req = send_message(serval_id, selected_peer.dataset.peer, message.val());
            req.success(function () {
                message.val('');
                $("#btn_sendmessage").attr('disabled', 'disabled');
                reloadMessagelist(selected_peer);
            });
        }

        function reloadMessagelist(selected_peer_element) {
            if (selected_peer_element == null) {
                return;
            }
            if (selected_peer != null) {
                selected_peer.classList.remove("active");
            }
            selected_peer = selected_peer_element;
            selected_peer_element.classList.add("active");
            var peer = selected_peer_element.dataset.peer;
            var req = reload_messages(peer, $('div[name="serval_id"]').html());
            req.success(function (data) {
                        var lg_messages = $("#lg_messages");
                        lg_messages.empty();
                        var messages = data["rows"];
                        for (var i = messages.length - 1; i >= 0; i--) {
                            if (messages[i][8] != null) {
                                lg_messages.append(
                                    '<div>' +
                                        '<div class="list-group-timestamp">' + convertUnixTimestamp(messages[i][8]) + '</div>' +
                                        '<a class="list-group-item' + (messages[i][0] == "<" ? ' list-group-item-info' : ' outgoing-message') + '">' +
                                            messages[i][5] +
                                        '</a>' +
                                    '</div>'
                                );
                            }
                        }
                        lg_messages.scrollTop(lg_messages.prop("scrollHeight"));
                    }
            );
        }

        function reloadPeers(data) {
            var previous_peerlist = known_peers;

            if (data.peers != null) {
                var contacts_list = $('#lg_peers')
                $.each(data.peers, function (index, peer) {
                    if ($.inArray(peer, previous_peerlist) == -1) {
                        contacts_list.append(
                            '<a id="contact_' + peer + '" name="contact_' + peer + '" data-peer="' + peer + '" class="list-group-item list-group-item-ellipsis unselectable" onclick="reloadMessagelist(this)">' +
                                '<span>' + peer + '</span>' +
                            '</a>'
                        );
                    }
                });
                known_peers = data.peers;
            }
        }

        function createFileentry(bundle) {
            if (bundle[2] != "MeshMS2") {
                var files = $("#lg_files");
                var file_id = bundle[3];
                var file_hash = bundle[10];
                var file_name = bundle[13];
                var file_size = bundle[9];
                var file_type = bundle[2];

                files.append(
                        '<a class="list-group-item group-btn" id="' + file_name + '" name="' + file_name + '">' +
                        '<div class="input-group">' +
                        '<form id="file_' + file_id + '" class="list-group-link" action="/restful/rhizome/' + file_id + '/' + file_name + '" method="GET" style="cursor: hand;">' +
                        '<h5 class="list-group-item-heading unselectable">' +
                        (file_name != "" ? file_name : "unnamed_file") +
                        '</h5>' +
                        '<h6 class="list-group-item-text unselectable">' +
                        'Size: ' + byteToString(file_size) + ', ' +
                        'Type: ' + file_type +
                        '</h6>' +
                        '</form>' +
                        '<span class="input-group-btn">' +
                        '<input class="btn btn-clear" type="button" id="btn_delete_' + file_id + '" name="btn_delete_' + file_id + '" value="X">' +
                        '</span>' +
                        '</div>' +
                        '</a>'
                );
                $("#file_" + file_id).click(function () {
                    $(this).submit();
                });
                $("#btn_delete_" + file_id).click(function () {
                    bootbox.confirm("Do you really want to delete " + file_name + "?", function(result) {
                    if (result) {
                        var req = delete_file(file_hash);
                        req.complete(function () {
                            if(file_count) {
                                file_count -= 1;
                            }
                            reloadFilelist();
                        });
                    }
                    });});
            }
        }

        function alertTimeout(wait){
            setTimeout(function(){$('#infobox').children('.alert:first-child').remove();}, wait);
        }

        function reloadFilelist() {
            var req = reload_files();
            req.success(function (data) {
                $('#lg_files').empty();
                var bundles = data["rows"];
                if (bundles.length > file_count) {
                    createAutoClosingAlert('rhizome_alert',
                        '<strong>Rhizome</strong> There are new files in your Rhizome store.',
                        '#infobox',
                        5000
                    );
                }
                for (var i in bundles) {
                    if(bundles[i]) {
                        createFileentry(bundles[i]);
                    }
                }
                file_count = bundles.length;
            });
        }

        $(function () {
            (function worker() {
                $.ajax({
                    type: "POST",
                    url: "/refresh",
                    contentType: "application/json; charset=utf-8",
                    data: {peer: $('#sel_peers').val()},
                    success: function (data) {
                        reloadPeers(data);
                        reloadMessagelist(selected_peer);
                        reloadFilelist();
                    },
                    complete: function () {
                        show_file_notification = true;
                        setTimeout(worker, 5000);
                    },
                    error: function (xhr, status, error) {
                        console.log(JSON.parse(xhr.responseText));
                    }
                });
            })();

            $("#sel_peers").prop("selectedIndex", -1);

            $(document).on('change', '.btn-file :file', function() {
                var input = $(this);
                var label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
                input.trigger('fileselect', label);
            });

            $('.btn-file :file').on('fileselect', function(event, label) {
                var input = $('#txt_filename');
                var btn_publish = $('#btn_publishfile');
                if( input.length ) {
                    input.val(label);
                    btn_publish.removeAttr('disabled');
                } else {
                    btn_publish.attr('disabled', 'disabled');;
                }
            });

            $("#inp_message").keyup(function (e) {
                if (e.keyCode == 13) {
                    submitMessage();
                }else if ($(this).val() == "") {
                    $("#btn_sendmessage").attr('disabled', 'disabled');
                } else {
                    $("#btn_sendmessage").removeAttr('disabled');
                }
            });

            $("#sel_peers").change(function () {
                reloadMessagelist();
            });

            $("#btn_sendmessage").click(function () {
                submitMessage();
            });

            $("#btn_publishfile").click(function () {
                var file = ($("#btn_selectfile")[0].files[0]);
                var req = publish_file(file);
                req.success(function () {
                    reloadFilelist();
                });
            });


            $("#inp_filename").keyup(function () {
                var searchstr = $(this).val();
                $('#lg_files').children('a').each( function () {
                   var id = this.id;
                   if (this.id.toLowerCase().indexOf(searchstr) >= 0) {
                       $(this).show();
                   } else {
                       $(this).hide();
                   }
                });
            });

            $("#btn_clearsearchfile").click(function () {
                $("#inp_filename").val('');
            })
        });
    </script>

    <nav class="navbar navbar-static-top navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                <a class="navbar-brand" href="#">
                    Serval Web Client
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-navbar-collapse">
                <ul class="nav navbar-nav pull-left" id="serval_tabs" name="serval_tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#info" data-toggle="tab">Info</a></li>
                    <li role="presentation"><a href="#meshms" data-toggle="tab">MeshMS</a></li>
                    <li role="presentation"><a href="#rhizome" data-toggle="tab">Rhizome</a></li>
                    <li role="presentation"><a href="#keyring" data-toggle="tab">Keyring</a></li>
                </ul>
            </div>
    </nav>
    <div class="container" role="main">
        <div id="serval_id" name="serval_id" hidden>{{ id }}</div>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="info">
                <div class="col-lg-7 col-md-7 col-sm-7 col-centered">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Info</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item text-right list-group-item-ellipsis"><span class="pull-left"><strong>SID</strong></span>{{ id }}</li>
                        </ul>
                    </div>
                </div>
                    </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="meshms">
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Contacts</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group-sm ">
                                <div class="list-group list-group-scrollable" id="lg_peers" name="lg_peers"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Messages</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group-sm ">
                                <div class="list-group list-group-scrollable" id="lg_messages" name="lg_messages"></div>
                                <div class="input-group" id="messages" name="messages">
                                    <input class="form-control" type="text" id="inp_message" name="inp_message">
                                    <span class="input-group-btn">
                                        <input class="btn btn-sm btn-default" type="button" id="btn_sendmessage" name="btn_sendmessage" value="Send" disabled="true">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="rhizome">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Rhizome</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group-sm">
                            <div class="col-sm4" id="file_list" name="file_list">
                                <div class="input-group" id="search" name="search">
                                    <input class="form-control" type="text" id="inp_filename" name="inp_filename" placeholder="Search for a file...">
                                    <span class="input-group-btn">
                                        <input class="btn btn-sm btn-default" type="button" id="btn_clearsearchfile" name="btn_clearsearchfile" value="Clear">
                                    </span>
                                </div>
                                <div class="list-group list-group-scrollable" id="lg_files" name="lg_files"></div>
                                <form class="input-group" id="publish_file" name="publish_file" method="POST" enctype="multipart/form-data">
                                    <span class="input-group-btn">
                                        <span class="btn btn-sm btn-primary btn-file">
                                            Browse<input id="btn_selectfile" name="btn_selectfile" type="file">
                                        </span>
                                    </span>
                                    <input id="txt_filename" name="txt_filename" type="text" class="form-control" placeholder="Select a file to publish" readonly>
                                    <span class="input-group-btn">
                                        <input class="btn btn-sm btn-default" type="button" id="btn_publishfile" name="btn_publishfile" value="Publish" disabled="true">
                                    </span>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="keyring">keys</div>
        </div>
    </div>
    <div id="infobox" class="navbar-fixed-bottom fade in">
    </div>
{% endblock %}